<!DOCTYPE html>
<html>
  <head>
    <title>My Address Book</title>
    <link rel="stylesheet" href="/stylesheets/output.css" />
  </head>
  <body class="">
    <head>
      <h1 class="text-blue-500 text-4xl text-center my-5">My Address Book</h1>
    </head>
    <main class="text-center">
      <% for(const contact of results) {%>
      <a href="/contact/<%= contact.name %>" class="block text-blue-300 text-xl m-5">
        <%= contact.name %> <%= contact.firstname %>
      </a>

      <% } %>

      <a
        href="/add"
        class="bg-blue-300 p-2 px-6 m-10 rounded border-solid border-2 border-white text-white text-xl"
      >
        Add Contact
      </a>
    </main>
  </body>
</html>
